<% include ../partials/head %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>
                    Pawn Configuration: OGC
                    </h3>
                    <blockquote>
                        <p>
                            PAWN ID: J8A0A1
                        </p>
                    </blockquote>
                </div>
                <div class="col-md-6">
                    <h3>
                    
                    </h3>
                    <div class="row">
                        <div class="col-md-8">
                            
                            <button type="button" class="btn btn-block btn-success">
                            Push to Overwatch | IP: 192.168.202.100
                            </button>
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-block btn-primary">
                            EDIT OPC IP
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-block btn-warning">
            CREATE NEW RELAY FUNCTION
            </button>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            UUID
                        </th>
                        <th>
                            NAME
                        </th>
                        <th>
                            BCM
                        </th>
                        <th>
                            MODE
                        </th>
                        <th>
                            RELAY
                        </th>
                        <th>
                            STATUS
                        </th>
                        <th>
                            TOGGLE
                        </th>
                        <th>
                            TOOLS
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < rows.length; i++) { %>
                    
                    <tr class="<%= rows[i].status %>">
                        <td>
                            <%= rows[i].uuid %>
                        </td>
                        <td>
                            <%= rows[i].name %>
                        </td>
                        <td>
                            <%= rows[i].bcm %>
                        </td>
                        <td>
                            <%= rows[i].mode %>
                        </td>
                        <td>
                            <%= rows[i].relay %>
                        </td>
                        <td>
                            <%= rows[i].status %>
                        </td>
                        <td>
                           
                            <input class="btn btn-block btn-info" name="<%= rows[i].bcm %>-toggle" id="<%= rows[i].bcm %>-toggle" value="TOGGLE" type="submit" />
                            <script>
                            $('#<%= rows[i].bcm %>-toggle').click(function() {
                            $.post('/gpio/toggle', { bcm: "<%= rows[i].bcm %>" });
                            });
                            </script>
                           
                            <input class="btn btn-block btn-info" name="<%= rows[i].bcm %>-on" id="<%= rows[i].bcm %>-on" value="ON" type="submit" />
                            <script>
                            $('#<%= rows[i].bcm %>-on').click(function() {
                            $.post('/gpio/on', { bcm: "<%= rows[i].bcm %>" });
                            });
                            </script>


                            <input class="btn btn-block btn-info" name="<%= rows[i].bcm %>-off" id="<%= rows[i].bcm %>-off" value="OFF" type="submit" />
                            <script>
                            $('#<%= rows[i].bcm %>-off').click(function() {
                            $.post('/gpio/off', { bcm: "<%= rows[i].bcm %>" });
                            });
                            </script>
                        </td>
                        <td>
                            <button type="button" class="btn btn-block btn-primary">
                            EDIT
                            </button>
                            <button type="button" class="btn btn-block btn-danger">
                            DELETE
                            </button>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% include ../partials/footer %>